<%= render 'shared/banner' %>

<div class="white">
  <div class="container">
    <div class="grid">
      <div class="card">
        <div>
          <h3>Anywhere</h3>
          <i class="fas fa-globe fa-3x"></i>
          <p class="lead mb-0">Find a photograph everywhere</p></div>
        </div>
        <div class="card">
          <div>
            <h3>Affordable</h3>
            <i class="fas fa-hand-holding-usd fa-3x"></i>
            <p class="lead mb-0">Professional photography is expensive? Pictureme isn't.</p>
          </div>
        </div>
        <div class="card">
          <div>
            <h3>Variety</h3>
            <i class="fas fa-camera fa-3x"></i>
            <p class="lead mb-0">Sports, portrait or something special?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
