<%= render 'shared/banner' %>

<div class="white">
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>

          <div class="info-card">
            <h3>Anywhere!</h3>
            <i class="fas fa-globe fa-3x" style="color: $green"></i>
            <p class="lead mb-0">Find photographers everywhere you go!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <div class="info-card">
            <h3>Affordable!</h3>
            <i class="fas fa-hand-holding-usd fa-3x"></i>
            <p class="lead mb-0">Professional photography is expensive? Pictureme isn't.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <div class="info-card">
          <h3>Variety!</h3>
            <i class="fas fa-camera fa-3x"></i>
            <p class="lead mb-0">Sports, portrait or something special?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<div class="container">
  <h1>Gallery</h1>
  <%= render 'shared/carousel' %>
</div>
