<div class="container">
  <h3><%= @photographer.user.full_name %></h3>
  <div class="language">I speak <%= @photographer.language %></div>
  <div class="location"><%= @photographer.location %></div>
</div>

