.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px,
}
.banner p {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding-bottom: 30px;
}
 .logo {
  padding: 50px;
  height: 200px,
}
.btn-medium {
  color: white;
  background-color: #900808;
  border: none;
  padding: 20px 35px;
  border-radius: 50px;
}

.btn-medium:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  background-color: #900808;
}
