.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner p {
  font-size: 32px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding-bottom: 30px;
}
 .logo {
  padding: 20px;
  height: 150px,
}
.btn-medium {
  background-color: #900808;
  color: white;
  font-size: 24px;
  padding: 15px 50px;
  border-radius: 50px;
}
.btn-medium:hover {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-color: #900808;
  border-width: 2px;
}
