.photographer {
  margin: 20px;
  width: 360px;
  height: 600px;
  background: white;
  border-radius: 4px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
}

.photographer-photo {
  height: 70%;
}

.photographer-details {
  padding: 20px;
}

.photographer-name {
  font-weight: bold;
  font-size: 22px;
}

.photographer-row {
  font-weight: lighter;
}
